<div class="container">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <h1>Uber Trips</h1>
      <table class="table table-hover">
          <thead class="thead-default">
            <tr>
              <td>Uber Car</td>
              <td>Trip Cost</td>
              <td>Day/Time</td>
              <td>Travel Time</td>
              <td>Distance Traveled</td>
            </tr>
          </thead>
          <tbody>
            <% @uber_trips.each do |trip| if @uber_trips %>
            <tr id="uber-trip">
              <td><%= trip.trip_type %></td>
              <td><%= trip.cost %></td>
              <td><%= trip.created_at %></td>
              <td><%= trip.duration %></td>
              <td><%= trip.distance %></td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <h2>Monthly Totals</h2>
      <table class="table table-hover">
        <thead>
          <tr>
            <td>Ride Type</td>
            <td>Total Distance Travleled</td>
            <td>Money Spent</td>
            <td>Time Spent</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Uber</td>
            <td>89.8 miles</td>
            <td>$48.50</td>
            <td>2 hrs 45 minutes</td>
          </tr>
          <tr>
            <td>Mass Transit</td>
            <td>57 miles</td>
            <td>$48.50</td>
            <td>12 hrs 15 minutes</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
      <h1>Bus Trips</h1>
      <table class="table table-hover">
          <thead class="thead-default">
            <tr>
              <td>Day/Time</td>
              <td>Distance Traveled</td>
              <td>Travel Time</td>
              <td>Trip Cost</td>
            </tr>
          </thead>
          <% @bus_trips.each do |trip| if @bus_trips %>
          <tbody>
            <tr id="bus-trip">
              <td><%= trip.created_at %></td>
              <td><%= trip.distance %></td>
              <td><%= trip.duration %></td>
              <td><%= trip.cost %></td>
            </tr>
          </tbody>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
