<h1>Uber Estimates</h1>
<table class="table table-hover" id="uber-trips">
  <thead>
    <tr>
      <td>Uber Ride Type</td>
      <td>Estimate Cost</td>
      <td>Estimated Uber Arrival</td>
      <td>Estimate Travel Time</td>
      <td>Travel Distance</td>
      <td>High Estimate</td>
      <td>Low Estimate</td>
      <td>Minimum Cost</td>
    </tr>
  </thead>
  <tbody>
  <% if @uber_estimate %>
    <% @uber_estimate.ride_estimates.each do |uber_estimate| %>
        <tr class="<%=uber_estimate.localized_display_name%>-estimate-id" >
          <td class="u-ride-type"><%= uber_estimate.localized_display_name %></td>
          <td class="u-ride-estimate"><%= uber_estimate.estimate %></td>
          <td class="u-ride-uber-arrival"><%= uber_estimate.estimated_uber_arrival %></td>
          <td class="u-ride-duration"><%= uber_estimate.duration %> minutes</td>
          <td class="u-ride-distance"><%= uber_estimate.distance %> miles</td>
          <td class="u-ride-high-estimate"><%= uber_estimate.high_estimate %></td>
          <td class="u-ride-low-estimate"><%= uber_estimate.low_estimate %></td>
          <td class="u-ride-minimum"><%= uber_estimate.minimum %></td>
          <td class='save-uber-trip'><button class='btn btn-primary btn-sm'>Take trip / Save trip</button></td>
          <td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
