<!DOCTYPE html>
<html>
<head>
  <title>BusOrUber</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <link href="../../../assets/stylesheets/main.css" type="html/css" >
</head>
<body>

  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="well">
        <p>
          <center style='color:blue'><%= content_tag :div, msg.html_safe %></center>
        </p>
      </div>
    <% end %>
  </div>

<%= yield %>

<%= javascript_include_tag 'application' %>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

</body>
</html>
